	
.circular {
	background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;


}

.top-nav li {
	display: inline;
	text-decoration: none;
	padding: 15px;
	margin-left: 20%;

}

html { 
  background: url(../img/cover.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}

.top-header-content {
	height: 100vh;
	text-align: center;
	padding-top: 70px;
}

.aboutMeContent {
	width: 100%;
	height: 100vh;
	padding: 70px;

}

.projects {
	width: 100%;
	height: 100vh;
	padding: 70px;
	
}













  